# Google Sheet details
SHEET_NAME=
GOOGLE_SHEET_URL=

# Email credentials for outbound mail
EMAIL_USER=
EMAIL_PASS=

# Inbound email address
YOUR_EMAIL=

OPENAI_API_KEY=

GOOGLE_PROJECT_ID=

# Google service account crednetials for authenticating to GCP project for API access
GOOGLE_TYPE=
GOOGLE_PRIVATE_KEY_ID=
GOOGLE_PRIVATE_KEY=
GOOGLE_CLIENT_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_AUTH_URI=
GOOGLE_TOKEN_URI=
GOOGLE_AUTH_PROVIDER=
GOOGLE_CLIENT_CERT_URL=
GOOGLE_CERT_URL=
GOOGLE_UNIVERSE_DOMAIN=

NODE_ENV=development